   body, html {
            
            color: #111111;
            width: 100%;
            height: 100%;
        }

        table {
            width: 90%;
            height: 90%;
            border-collapse: collapse;
            border-bottom: 1px solid black;
             
        }

        td {
            padding: 7px 10px 10px 10px;
            border-right: 1px dotted #000;
            text-align: right;
            
            
         
        }

        th {
            padding: 7px 10px 10px 10px;
            border-right: 1px dotted #000;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: 90%;
            border-bottom: 1px dashed black;
            text-align: left;
            width: 10%;
        }

       tr {
          
           /*border-right:1px solid black;*/
          
           background-color:white;
           text-align: left; 
         
        }


       

#myTable {

width: 100%;
height: 100%;
border-collapse: collapse;
border-bottom: 1px solid black;

color:midnightblue;
}

hr {
    
margin-left: 0px;
border: 1.5px dashed green ;
float:left;
display:table-cell;




}

.c {
  color: black;

}

.side {

    border: 1.5px dashed red ;
float:right;

}

.top_a {

color: green;
float:left;
}


.top_b {

color: red;
float:right;
}

.top_c {

padding-left:-100px;
}



 button.link {float:left; height:16px; color:black; vertical-align:top; border:none; background:none; cursor:pointer; }
